* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(2.jpeg);
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}
